<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSLHL64oQ-RlzfbF3b6Ps9ihakgVRJ8Co</string>
	<key>GCM_SENDER_ID</key>
	<string>133385838937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yourcompany.com.Login</string>
	<key>PROJECT_ID</key>
	<string>bloom-5cad7</string>
	<key>STORAGE_BUCKET</key>
	<string>bloom-5cad7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133385838937:ios:96ffebb66c37af0e58ac48</string>
</dict>
</plist>